{% extends 'base.html' %}
{% block content %}

<h1>tweet</h1>

{% for tweet in tweets.data %}

<div class="card">
    <div class="card-content">
        <h4>{{ tweet.id }}</h4>
        <h4>{{ tweet.text }}</h4>

        <div class="col s6">
            <form action="{% url 'add_comment' trend tweet.id %}" method="POST">
                {% csrf_token %}
                {{comment_form.as_p}}
                <input type="Submit" class="btn" value="Add Comment">
            </form>
        </div>
    </div>
</div>

{% endfor %}

<div class="card">
  <div class="card-content">
    {% for comment in tweets.data.comment_set.all %}
    <h4>{{ comment.text }}</h4>
    
    {% endfor %}
  </div>
</div>

<script>
  
  const dateEl = document.getElementById('id_date');
  M.Datepicker.init(dateEl, {
      format: 'yyyy-mm-dd',
      defaultDate: new Date(),
      setDefaultDate: true,
      autoClose: true
    });
  
    const textEl = document.getElementById('id_text');
    M.FormText.init(textEl);
  
  </script>



{% endblock %}