{% extends 'base.html' %}
{% block content %}

<h1 class="white-text center-align">tweet</h1>
{% for tweet in tweets.data %}
<div class="card grey darken-2 center-align">
    <div class="card-content white-text center-align">
        <h4>{{ tweet.id }}</h4>
        <h4>{{ tweet.text }}</h4>
        <div class="col s6">
            <form action="{% url 'add_comment' trend tweet.id %}" method="POST">
                {% csrf_token %}
                {{comment_form.as_p}}
                <input type="Submit" class="btn grey darken-4" value="Add Comment">
            </form>
        </div>
    </div>
</div>
<div class="divider"></div>
{% endfor %}
<div class="card grey darken-2">
  <div class="card-content">
    {% for comment in comments %}
    <h4 class="white-text">{{ comment }}</h4>
    <div class="card-action">
      <a class="blue-text" href="{% url 'update_comment' trend tweet_id comment.id %}">Edit</a>
      <a class="blue-text" href="{% url 'delete_comment' trend tweet_id comment.id %}">Delete</a>
    </div>
    {% endfor %}
  </div>
</div>
<script>
  
  const dateEl = document.getElementById('id_date');
  M.Datepicker.init(dateEl, {
      format: 'yyyy-mm-dd',
      defaultDate: new Date(),
      setDefaultDate: true,
      autoClose: true
    });
  
    const textEl = document.getElementById('id_text');
    M.FormText.init(textEl);
  
  </script>



{% endblock %}